Repository SE750-DART/nerds-oppose-society, pull requests merged in 2021-04, with the labels that each got.

#7 Setup Initial Frontend
  .gitignore
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.husky/.gitignore
  frontend/.husky/pre-commit
  frontend/.prettierignore
  frontend/.prettierrc.json
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
Labels: frontend, setup

#10 Fix issues with ESLint and TypeScript in frontend
  frontend/.eslintignore
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
Labels: bug, frontend, setup

#11 Backend setup
  backend/.eslintrc.json
  backend/.gitignore
  backend/.husky/.gitignore
  backend/.husky/pre-commit
  backend/.prettierignore
  backend/babel.config.json
  backend/jest.config.ts
  backend/package-lock.json
  backend/package.json
  backend/prettierrc.json
  backend/src/config/dev.json
  backend/src/config/index.ts
  backend/src/config/prod.json
  backend/src/config/test.json
  backend/src/index.ts
  backend/src/sum.test.ts
  backend/src/sum.ts
  backend/tsconfig.json
Labels: backend, setup

#16 Add React Cosmos
  frontend/package-lock.json
  frontend/package.json
Labels: setup

#15 Added workflows
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: setup
