Repository SE750-DART/nerds-oppose-society, pull requests merged in 2021-05, with the labels that each got.

#28 Replace 'backend' with 'frontend' in frontend CI
  .github/workflows/frontend.yml
Labels: bug, setup

#27 Screen routing
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/BasicPage.tsx
  frontend/src/GameRouter.tsx
  frontend/src/HomePage.tsx
Labels: feature, frontend

#31 Fix ESLint not ignoring .css files from root from git commit hook
  frontend/.eslintignore
  frontend/.eslintrc.json
  package.json
Labels: bug, frontend, setup

#32 Implement Initial DB Models
  backend/.gitignore
  backend/.prettierignore
  backend/jest.config.ts
  backend/package-lock.json
  backend/package.json
  backend/src/models/__tests__/game.model.test.ts
  backend/src/models/game.model.ts
  backend/src/models/index.ts
  backend/src/models/player.model.ts
  backend/src/models/round.model.ts
  backend/src/models/settings.model.ts
  backend/src/models/setup.model.ts
  backend/src/types/vendor.d.ts
  frontend/src/App.css
Labels: backend, feature

#38 Add writings from Cards Against Humanity
  backend/src/resources/index.ts
  backend/src/resources/punchlines.ts
  backend/src/resources/setups.ts
Labels: backend, feature

#44 Edited workflows to build after running tests
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: setup

#41 Create context providers to store and update state
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ContextProviders/PlayersContextProvider.tsx
  frontend/src/ContextProviders/PunchlinesContextProvider.tsx
  frontend/src/ContextProviders/index.tsx
  frontend/src/hooks/__tests__/useCrud.test.tsx
  frontend/src/hooks/useCrud.ts
  frontend/src/index.tsx
Labels: feature, frontend

#43 Create page layouts up to the Lobby screen
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/App/App.css
  frontend/src/App/App.test.tsx
  frontend/src/App/index.tsx
  frontend/src/GameRouter.tsx
  frontend/src/HomePage.tsx
  frontend/src/components/TextField/index.tsx
  frontend/src/pages/BasicPage/index.tsx
  frontend/src/pages/HomePage/index.tsx
  frontend/src/pages/HomePage/style.module.css
  frontend/src/pages/LobbyPage/index.tsx
  frontend/src/pages/LobbyPage/style.module.css
  frontend/src/pages/NicknamePage/index.tsx
  frontend/src/pages/NicknamePage/style.module.css
  frontend/src/pages/index.ts
Labels: feature, frontend

#40 REST Services
  backend/.eslintrc.json
  backend/src/models/__tests__/game.model.test.ts
  backend/src/models/game.model.ts
  backend/src/models/player.model.ts
  backend/src/models/round.model.ts
  backend/src/models/settings.model.ts
  backend/src/models/setup.model.ts
  backend/src/services/__tests__/game.service.test.ts
  backend/src/services/__tests__/player.service.test.ts
  backend/src/services/game.service.ts
  backend/src/services/player.service.ts
  backend/src/sum.test.ts
  backend/src/sum.ts
  backend/src/util/__tests__/index.test.ts
  backend/src/util/index.ts
Labels: backend, feature

#47 Create progress bar component with message
  frontend/src/components/ProgressBar/index.tsx
  frontend/src/components/ProgressBar/style.module.css
Labels: frontend

#25 Add REST endpoints
  backend/src/config/index.ts
  backend/src/controllers/__tests__/game.controller.test.ts
  backend/src/controllers/__tests__/player.controller.test.ts
  backend/src/controllers/game.controller.ts
  backend/src/controllers/player.controller.ts
  backend/src/index.ts
  backend/src/models/game.model.ts
  backend/src/models/player.model.ts
  backend/src/routes/game.route.ts
  backend/src/routes/index.ts
  backend/src/routes/player.route.ts
  backend/src/services/game.service.ts
  backend/src/services/player.service.ts
  backend/src/util/index.ts
Labels: backend

#46 Add methods to call REST API from frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/ApiResponse.ts
  frontend/src/api/__mocks__/axios.ts
  frontend/src/api/__tests__/createGame.test.ts
  frontend/src/api/__tests__/createPlayer.test.ts
  frontend/src/api/__tests__/validateGame.test.ts
  frontend/src/api/axiosCall.ts
  frontend/src/api/createGame.ts
  frontend/src/api/createPlayer.ts
  frontend/src/api/validateGame.ts
  frontend/src/hooks/__tests__/useCrud.test.ts
  frontend/src/pages/BasicPage/index.tsx
Labels: feature, frontend

#48 UI components for MVP
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App/App.css
  frontend/src/components/Dropdown/index.tsx
  frontend/src/components/Dropdown/style.module.css
  frontend/src/components/IconButton/index.tsx
  frontend/src/components/IconButton/style.module.css
  frontend/src/components/PunchlineCard/index.tsx
  frontend/src/components/PunchlineCard/style.module.css
  frontend/src/pages/HomePage/index.tsx
  frontend/src/pages/HomePage/style.module.css
  frontend/src/pages/LobbyPage/index.tsx
  frontend/src/pages/LobbyPage/style.module.css
  frontend/src/pages/NicknamePage/style.module.css
Labels: frontend

#49 Lobby sockets
  backend/src/handlers/__tests__/auth.handler.test.ts
  backend/src/handlers/__tests__/game.handler.test.ts
  backend/src/handlers/__tests__/index.test.ts
  backend/src/handlers/__tests__/player.handler.test.ts
  backend/src/handlers/auth.handler.ts
  backend/src/handlers/game.handler.ts
  backend/src/handlers/index.ts
  backend/src/handlers/player.handler.ts
  backend/src/index.ts
  backend/src/models/__tests__/game.model.test.ts
  backend/src/models/game.model.ts
  backend/src/models/player.model.ts
  backend/src/services/__tests__/game.service.test.ts
  backend/src/services/__tests__/player.service.test.ts
  backend/src/services/game.service.ts
  backend/src/services/player.service.ts
Labels: backend, feature

#55 Models refactor
  backend/src/models/__tests__/game.model.test.ts
  backend/src/models/game.model.ts
  backend/src/models/player.model.ts
  backend/src/models/round.model.ts
Labels: backend

#53 Integrate REST API into frontend
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/GameRouter.tsx
  frontend/src/api/__tests__/createGame.test.ts
  frontend/src/api/__tests__/createPlayer.test.ts
  frontend/src/api/__tests__/validateGame.test.ts
  frontend/src/api/axiosCall.ts
  frontend/src/api/createPlayer.ts
  frontend/src/api/validateGame.ts
  frontend/src/components/Button/index.tsx
  frontend/src/pages/BasicPage/index.tsx
  frontend/src/pages/HomePage/index.tsx
  frontend/src/pages/NicknamePage/index.tsx
Labels: feature, frontend

#65 Socket bugs
  backend/src/handlers/__tests__/auth.handler.test.ts
  backend/src/handlers/__tests__/game.handler.test.ts
  backend/src/handlers/__tests__/player.handler.test.ts
  backend/src/handlers/auth.handler.ts
  backend/src/handlers/game.handler.ts
  backend/src/handlers/player.handler.ts
Labels: backend, bug

#68 Player tokens
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/__tests__/player.controller.test.ts
  backend/src/controllers/player.controller.ts
  backend/src/handlers/__tests__/auth.handler.test.ts
  backend/src/handlers/__tests__/player.handler.test.ts
  backend/src/handlers/auth.handler.ts
  backend/src/handlers/player.handler.ts
  backend/src/models/__tests__/game.model.test.ts
  backend/src/models/player.model.ts
  backend/src/services/__tests__/player.service.test.ts
  backend/src/services/player.service.ts
  frontend/src/api/__tests__/createPlayer.test.ts
  frontend/src/api/createPlayer.ts
  frontend/src/pages/NicknamePage/index.tsx
Labels: backend, bug, frontend

#71 Return player id for players:add and players:remove
  backend/src/handlers/__tests__/player.handler.test.ts
  backend/src/handlers/player.handler.ts
Labels: backend

#70 Round service
  backend/src/models/__tests__/game.model.test.ts
  backend/src/models/round.model.ts
  backend/src/services/__tests__/round.service.test.ts
  backend/src/services/player.service.ts
  backend/src/services/round.service.ts
  backend/src/util/index.ts
Labels: backend, feature

#74 Allocate player cards
  backend/src/handlers/__tests__/player.handler.test.ts
  backend/src/models/__tests__/game.model.test.ts
  backend/src/models/game.model.ts
  backend/src/services/__tests__/game.service.test.ts
  backend/src/services/game.service.ts
  backend/src/services/player.service.ts
  backend/src/util/index.ts
Labels: backend

#66 Connect frontend lobby to socket.io
  backend/src/handlers/__tests__/game.handler.test.ts
  backend/src/handlers/game.handler.ts
  backend/src/models/index.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ContextProviders/PlayersContextProvider.tsx
  frontend/src/GameRouter.tsx
  frontend/src/components/PlayerList/index.tsx
  frontend/src/pages/LobbyPage/index.tsx
  frontend/src/pages/NicknamePage/index.tsx
  frontend/src/socket.ts
Labels: feature, frontend

#76 UI layouts for Start of Round and Submit Punchline
  frontend/src/GameRouter.tsx
  frontend/src/components/Dropdown/index.tsx
  frontend/src/components/Dropdown/style.module.css
  frontend/src/components/PunchlineCard/index.tsx
  frontend/src/components/PunchlineCard/style.module.css
  frontend/src/pages/StartRoundPage/index.tsx
  frontend/src/pages/StartRoundPage/style.module.css
  frontend/src/pages/SubmitPunchlinePage/index.tsx
  frontend/src/pages/SubmitPunchlinePage/style.module.css
  frontend/src/pages/index.ts
Labels: frontend

#88 UI layouts for MVP
  frontend/src/GameRouter.tsx
  frontend/src/components/PlayerList/index.tsx
  frontend/src/components/PlayerList/style.module.css
  frontend/src/components/PunchlineCard/index.tsx
  frontend/src/components/PunchlineCard/style.module.css
  frontend/src/index.tsx
  frontend/src/pages/EndGamePage/index.tsx
  frontend/src/pages/EndGamePage/style.module.css
  frontend/src/pages/EndRoundPage/index.tsx
  frontend/src/pages/EndRoundPage/style.module.css
  frontend/src/pages/LobbyPage/index.tsx
  frontend/src/pages/SelectPunchlinePage/index.tsx
  frontend/src/pages/SelectPunchlinePage/style.module.css
  frontend/src/pages/StartRoundPage/index.tsx
  frontend/src/pages/SubmitPunchlinePage/index.tsx
  frontend/src/pages/index.ts
  frontend/src/providers/ContextProviders/PlayersContextProvider.tsx
  frontend/src/providers/ContextProviders/PunchlinesContextProvider.tsx
  frontend/src/providers/ContextProviders/index.tsx
Labels: frontend

#75 Added basic discard shuffling for punchlines and setups
  backend/src/models/__tests__/game.model.test.ts
  backend/src/models/game.model.ts
  backend/src/services/__tests__/game.service.test.ts
  backend/src/services/game.service.ts
Labels: backend

#89 Added protection against players joining after a game has ended or if the game is at capacity
  backend/src/services/__tests__/player.service.test.ts
  backend/src/services/player.service.ts
Labels: backend, bug

#100 Snapshot tests for frontend components
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/__tests__/Button.test.tsx
  frontend/src/components/__tests__/Dropdown.test.tsx
  frontend/src/components/__tests__/IconButton.test.tsx
  frontend/src/components/__tests__/Player.test.tsx
  frontend/src/components/__tests__/PlayerList.test.tsx
  frontend/src/components/__tests__/ProgressBar.test.tsx
  frontend/src/components/__tests__/PunchlineCard.test.tsx
  frontend/src/components/__tests__/TextField.test.tsx
  frontend/src/components/__tests__/__snapshots__/Button.test.tsx.snap
  frontend/src/components/__tests__/__snapshots__/Dropdown.test.tsx.snap
  frontend/src/components/__tests__/__snapshots__/IconButton.test.tsx.snap
  frontend/src/components/__tests__/__snapshots__/Player.test.tsx.snap
  frontend/src/components/__tests__/__snapshots__/PlayerList.test.tsx.snap
  frontend/src/components/__tests__/__snapshots__/ProgressBar.test.tsx.snap
  frontend/src/components/__tests__/__snapshots__/PunchlineCard.test.tsx.snap
  frontend/src/components/__tests__/__snapshots__/TextField.test.tsx.snap
Labels: frontend

#102 Fix updating settings.
  frontend/src/GameRouter.tsx
  frontend/src/pages/LobbyPage/index.tsx
Labels: bug, frontend

#104 Add About and Legal pages
  frontend/src/App/index.tsx
  frontend/src/pages/AboutPage/index.tsx
  frontend/src/pages/AboutPage/style.module.css
  frontend/src/pages/HomePage/index.tsx
  frontend/src/pages/LegalPage/index.tsx
  frontend/src/pages/LegalPage/style.module.css
  frontend/src/pages/index.ts
Labels: frontend

#106 Implement logic for minimum active players
  backend/src/handlers/__tests__/game.handler.test.ts
  backend/src/handlers/__tests__/player.handler.test.ts
  backend/src/handlers/game.handler.ts
  backend/src/handlers/player.handler.ts
  backend/src/services/round.service.ts
Labels: backend

#107 Added discard recycling; fixed bug in card allocation
  backend/src/handlers/__tests__/round.handler.test.ts
  backend/src/handlers/round.handler.ts
  backend/src/services/__tests__/game.service.test.ts
  backend/src/services/__tests__/player.service.test.ts
  backend/src/services/game.service.ts
  backend/src/services/player.service.ts
Labels: backend, bug

#108 Small UI fixes
  backend/src/resources/setups.ts
  frontend/src/components/Dropdown/index.tsx
  frontend/src/components/Dropdown/style.module.css
  frontend/src/components/PlayerList/style.module.css
  frontend/src/components/Setup/index.tsx
  frontend/src/components/Setup/style.module.css
  frontend/src/components/__tests__/Setup.test.tsx
  frontend/src/components/__tests__/__snapshots__/Dropdown.test.tsx.snap
  frontend/src/components/__tests__/__snapshots__/Setup.test.tsx.snap
  frontend/src/pages/LobbyPage/index.tsx
  frontend/src/pages/SelectPunchlinePage/index.tsx
  frontend/src/pages/SelectPunchlinePage/style.module.css
  frontend/src/pages/SubmitPunchlinePage/index.tsx
  frontend/src/pages/SubmitPunchlinePage/style.module.css
Labels: bug, frontend

#110 Added socket and additional logic for if a player has an illegal amount of cards
  backend/src/handlers/__tests__/round.handler.test.ts
  backend/src/handlers/round.handler.ts
  backend/src/services/__tests__/game.service.test.ts
  backend/src/services/game.service.ts
Labels: backend, bug

#109 Players finished picking bug
  backend/src/handlers/__tests__/round.handler.test.ts
  backend/src/handlers/round.handler.ts
  backend/src/services/player.service.ts
Labels: backend, bug

#111 Improve desktop UI experience
  frontend/src/App/App.css
  frontend/src/components/Dropdown/style.module.css
  frontend/src/components/Setup/style.module.css
  frontend/src/pages/SelectPunchlinePage/style.module.css
Labels: frontend

#112 Integrate game sockets
  backend/src/handlers/__tests__/round.handler.test.ts
  backend/src/handlers/round.handler.ts
  backend/src/services/game.service.ts
  frontend/src/GameRouter.tsx
  frontend/src/hooks/useCrud.ts
  frontend/src/pages/BasicPage/index.tsx
  frontend/src/pages/EndRoundPage/index.tsx
  frontend/src/pages/LobbyPage/index.tsx
  frontend/src/pages/SelectPunchlinePage/index.tsx
  frontend/src/pages/StartRoundPage/index.tsx
  frontend/src/pages/SubmitPunchlinePage/index.tsx
  frontend/src/providers/ContextProviders/PunchlinesContextProvider.tsx
  frontend/src/providers/ContextProviders/RoundContextProvider.tsx
  frontend/src/providers/ContextProviders/index.tsx
Labels: feature, frontend

#116 Ensure host leaves their role at the end of each round
  backend/src/handlers/__tests__/round.handler.test.ts
  backend/src/handlers/round.handler.ts
Labels: backend, bug

#115 Remove selected punchline after submitting punchline
  frontend/src/pages/SelectPunchlinePage/index.tsx
  frontend/src/pages/SubmitPunchlinePage/index.tsx
  frontend/src/providers/ContextProviders/PunchlinesContextProvider.tsx
Labels: bug, frontend

#117 Added a missing branch test
  backend/src/services/__tests__/game.service.test.ts
Labels: backend, bug
